.vsCode/*
.vsCode/settings.json
!.vsCode/tasks.json
!.vsCode/launch.json
!.vsCode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# config makeFile 
makefile_config
makefile
